.App {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: larger;
}

.button {
  margin-top: 50px;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 40px;
}